body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

textarea {
  width: 100%;
  height: 80px;
}

input {
  width: 100%;
  margin-bottom: 8px;
}
